# Research on hotel data
## Dataset
    2_bookings.csv
## Tasks
1. Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем **;**. Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные. 
2. Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.
3. Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.
4. На сколько ночей в среднем бронируют отели разных типов?
5. Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?
6. Проанализируйте даты запланированного прибытия. – На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?– Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов
7. Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?
8. Создайте колонку total_kids, объединив children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?
9. Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (метрика churn rate). Укажите, среди какой группы показатель выше (посетители с ребенком или без).

## Useful methods
    .fillna()
    .head(n)
    .rename_axis()
    .value_counts()

## Useful pandas options
    pd.set_option('display.max_columns', *int//None*)

**Problem 1**

In [99]:
import pandas as pd

In [100]:
path_to_file = '2_bookings.csv'

In [101]:
bookings = pd.read_csv(path_to_file, sep=';')

In [102]:
bookings

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,stays total nights,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,0,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,0,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,1,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,1,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,2,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,7,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,7,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,7,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,7,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,9,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

    Hotel – тип отеля (City Hotel или Resort Hotel)  
    Is canceled – бронирование было отменено (1) или нет (0); не отмененное считается успешным
    Lead time – количество дней, прошедших между датой бронирования и датой прибытия  
    Arrival full date – полная дата прибытия
    Arrival date year – год прибытия  
    Arrival date month – месяц прибытия  
    Arrival date week number – номер недели прибытия
    Arrival date day of month – день прибытия
    Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле
    Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
    Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)
    Adults – число взрослых
    Children – число детей
    Babies – число младенцев 
    Meal – выбранный тип питания
    Country – страна происхождения клиента
    Reserved room type – тип зарезервированного номера
    Assigned room type – тип полученного номера (может отличаться от забронированного)
    Customer type – тип бронирования
    Reservation status – значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент зарегистрировался, но уже покинул отель; No-Show - клиент не зарегистрировался и сообщил администрации отеля причину
    Reservation status date – дата обновления статуса

In [103]:
bookings.shape, bookings.dtypes

((119390, 21),
 Hotel                         object
 Is Canceled                    int64
 Lead Time                      int64
 arrival full date             object
 Arrival Date Year              int64
 Arrival Date Month            object
 Arrival Date Week Number       int64
 Arrival Date Day of Month      int64
 Stays in Weekend nights        int64
 Stays in week nights           int64
 stays total nights             int64
 Adults                         int64
 Children                     float64
 Babies                         int64
 Meal                          object
 Country                       object
 Reserved Room Type            object
 Assigned room type            object
 customer type                 object
 Reservation Status            object
 Reservation status_date       object
 dtype: object)

Смущает количество детей типа float, изменю на int

In [104]:
# bookings = bookings.astype({'Children' : 'int'})
# Вернет ошибку, т.к. в поле есть пустые значения

In [105]:
bookings.query('Children.isnull()').shape[0]

4

В таблице сущетсвуют 4 записи, значения поля Children которых нет.

Заполним пропуски

In [106]:
bookings.Children = bookings.Children.fillna(0)

In [107]:
bookings = bookings.astype({'Children' : 'int'})

Посмотрим теперь на тип поля Children

In [108]:
bookings.Children.dtype

dtype('int64')

In [109]:
bookings.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,stays total nights,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,0,2,0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,0,2,0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,1,1,0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,1,1,0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,2,2,0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,2,2,0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,2,2,0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

**Problem 2**

In [110]:
bookings.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [111]:
# соберем словарь заменяемых слов и их замен
new_columns = {}

for column in bookings.columns:
    new_columns[column] = column.replace(' ', '_').lower()

In [112]:
new_columns

{'Hotel': 'hotel',
 'Is Canceled': 'is_canceled',
 'Lead Time': 'lead_time',
 'arrival full date': 'arrival_full_date',
 'Arrival Date Year': 'arrival_date_year',
 'Arrival Date Month': 'arrival_date_month',
 'Arrival Date Week Number': 'arrival_date_week_number',
 'Arrival Date Day of Month': 'arrival_date_day_of_month',
 'Stays in Weekend nights': 'stays_in_weekend_nights',
 'Stays in week nights': 'stays_in_week_nights',
 'stays total nights': 'stays_total_nights',
 'Adults': 'adults',
 'Children': 'children',
 'Babies': 'babies',
 'Meal': 'meal',
 'Country': 'country',
 'Reserved Room Type': 'reserved_room_type',
 'Assigned room type': 'assigned_room_type',
 'customer type': 'customer_type',
 'Reservation Status': 'reservation_status',
 'Reservation status_date': 'reservation_status_date'}

In [113]:
bookings = bookings.rename(columns=new_columns)

In [114]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

**Problem 3**

In [115]:
bookings[3:8]

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,stays_total_nights,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,1,1,0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,2,2,0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,2,2,0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,2,2,0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015-07-01,2015,July,27,1,0,2,2,2,0,0,FB,PRT,C,C,Transient,Check-Out,2015-07-03

In [116]:
bookings \
    .query('is_canceled == 0') \
    .groupby('country').aggregate({'hotel' : 'count'}) \
    .sort_values('hotel', ascending=False) \
    .rename(columns={'hotel' : 'count'})[:5]

         count
country
PRT      21071
GBR       9676
FRA       8481
ESP       6391
DEU       6069

**Problem 4**

In [117]:
bookings.query('hotel == "City Hotel"').head(3)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,stays_total_nights,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
40060,City Hotel,0,6,2015-07-01,2015,July,27,1,0,2,2,1,0,0,HB,PRT,A,A,Transient,Check-Out,2015-07-03
40061,City Hotel,1,88,2015-07-01,2015,July,27,1,0,4,4,2,0,0,BB,PRT,A,A,Transient,Canceled,2015-07-01
40062,City Hotel,1,65,2015-07-01,2015,July,27,1,0,4,4,1,0,0,BB,PRT,A,A,Transient,Canceled,2015-04-30

Не вмещаются все колонки, исправим это

In [118]:
pd.set_option('display.max_columns', 2)

In [119]:
bookings.query('hotel == "City Hotel"').head(3)

            hotel  ...  reservation_status_date
40060  City Hotel  ...               2015-07-03
40061  City Hotel  ...               2015-07-01
40062  City Hotel  ...               2015-04-30

[3 rows x 21 columns]

In [120]:
pd.set_option('display.max_columns', 21)

In [121]:
print(round(bookings.query('hotel == "City Hotel"').stays_total_nights.mean(), 2))

2.98

In [122]:
print(round(bookings.query('hotel == "Resort Hotel"').stays_total_nights.mean(), 2))

4.32

**Problem 5**

*Возможно не самый эффективный метод подсчета

In [123]:
a_r_t = list(bookings.assigned_room_type)
r_r_t = list(bookings.reserved_room_type)

In [124]:
counter = 0

for idx in range(len(a_r_t)):
    counter += 1 if a_r_t[idx] != r_r_t[idx] else 0
    
print(counter)

14917

**Problem 6**

In [125]:
bookings \
    .query('arrival_date_year == 2016') \
    .groupby('arrival_date_month') \
    .aggregate({'arrival_date_month' : 'count'}) \
    .rename_axis('month in 2016') \
    .rename(columns={'arrival_date_month' : 'count'}) \
    .sort_values('count', ascending=False)

               count
month in 2016
October         6203
May             5478
April           5428
September       5394
June            5292
August          5063
March           4824
July            4572
November        4454
February        3891
December        3860
January         2248

In [126]:

bookings \
    .query('arrival_date_year == 2017') \
    .groupby('arrival_date_month') \
    .aggregate({'arrival_date_month' : 'count'}) \
    .rename_axis('month in 2017') \
    .rename(columns={'arrival_date_month' : 'count'}) \
    .sort_values('count', ascending=False)

               count
month in 2017
May             6313
April           5661
June            5647
July            5313
March           4970
August          4925
February        4177
January         3681

**Problem 6**

In [127]:
bookings \
    .query('hotel == "City Hotel" and is_canceled == 1') \
    .groupby('arrival_date_year') \
    .arrival_date_month.value_counts()

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

In [128]:
dict(bookings \
    .query('hotel == "City Hotel" and is_canceled == 1') \
    .groupby('arrival_date_year') \
    .arrival_date_month.value_counts())

{(2015, 'September'): 1543,
 (2015, 'October'): 1321,
 (2015, 'August'): 1232,
 (2015, 'July'): 939,
 (2015, 'December'): 668,
 (2015, 'November'): 301,
 (2016, 'October'): 1947,
 (2016, 'June'): 1720,
 (2016, 'September'): 1567,
 (2016, 'April'): 1539,
 (2016, 'May'): 1436,
 (2016, 'November'): 1360,
 (2016, 'August'): 1247,
 (2016, 'March'): 1108,
 (2016, 'December'): 1072,
 (2016, 'July'): 1043,
 (2016, 'February'): 930,
 (2016, 'January'): 438,
 (2017, 'May'): 2217,
 (2017, 'April'): 1926,
 (2017, 'June'): 1808,
 (2017, 'July'): 1324,
 (2017, 'March'): 1278,
 (2017, 'August'): 1123,
 (2017, 'January'): 1044,
 (2017, 'February'): 971}

**Problem 7**

In [129]:
bookings.babies.mean(), bookings.children.mean(), bookings.adults.mean()

(0.007948739425412514, 0.10388642264846303, 1.8564033838679956)

**Problem 8**

In [130]:
total_kids = bookings.children + bookings.babies

In [131]:
# проверяем целостность данных и их логику
total_kids.sum() == bookings.children.sum() + bookings.babies.sum()

True

Добавим получившуюся колонку в датасет

In [132]:
bookings['total_kids'] = total_kids

In [133]:
bookings[100:105]

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids
100,Resort Hotel,0,4,2015-07-04,2015,July,27,4,2,1,...,0,0,BB,ESP,A,C,Transient,Check-Out,2015-07-07,0
101,Resort Hotel,0,98,2015-07-04,2015,July,27,4,2,1,...,0,0,BB,FRA,D,D,Transient,Check-Out,2015-07-07,0
102,Resort Hotel,0,92,2015-07-04,2015,July,27,4,2,4,...,2,0,BB,FRA,F,F,Transient,Check-Out,2015-07-10,2
103,Resort Hotel,0,95,2015-07-04,2015,July,27,4,2,4,...,0,0,BB,PRT,A,C,Transient,Check-Out,2015-07-10,0
104,Resort Hotel,0,102,2015-07-04,2015,July,27,4,2,5,...,0,0,BB,PRT,E,E,Transient,Check-Out,2015-07-11,0

In [134]:
bookings.groupby('hotel').total_kids.mean()

hotel
City Hotel      0.096307
Resort Hotel    0.142586
Name: total_kids, dtype: float64

In [135]:
round(0.142586, 2)

0.14

**Problem 9**

In [136]:
bool(0), bool(7)

(False, True)

In [137]:
# создаем переменную
has_kids = [bool(value) for value in list(bookings.total_kids)]

In [138]:
# добавляем в датасет
bookings['has_kids'] = has_kids

In [139]:
bookings[['total_kids', 'has_kids']][55:60]

    total_kids  has_kids
55           2      True
56           0     False
57           0     False
58           0     False
59           0     False

$ Chunc\ rate = (\frac{Left\ users}{All\ users})\ *\ 100\% $

In [140]:
# клиенты(бронирования), отменившие бронирование, у которых есть дети
canc_with_kids = bookings.query('is_canceled == 1 and has_kids == True').shape[0]
canc_with_kids

3259

In [141]:
# клиенты(бронирования), отменившие бронирование, у которых нет детей
canc_without_kids = bookings.query('is_canceled == 1 and has_kids == False').shape[0]
canc_without_kids = bookings.query('is_canceled == 1 and has_kids == False').shape[0]
canc_without_kids

40965

In [142]:
# количество бронирований с детьми (успешные и отмененные)
all_with_kids = bookings.query('has_kids == True').shape[0]
all_with_kids

9332

In [143]:
# количество бронирований без детей (успешные и отмененные)
all_without_kids = bookings.query('has_kids == False').shape[0]
all_without_kids

110058

In [144]:
# проверяем целостность данных и их логику
all_with_kids + all_without_kids == total_kids.shape[0]

True

In [145]:
# проверяем целостность данных и их логику
canc_with_kids + canc_without_kids == bookings.query('is_canceled == 1').shape[0]

True

Наконец можно посчитать две метрики и сравнить их, получить ответ

In [146]:
def churn(left, all):
    """
        Функция, которая считает метрику churn rate.

    Принимаемые параметры: left - количество ушедших пользователей,
    all - количество всех пользователей.
    Возвращаемое значение: посчитанная метрика в %, округленная до 
    двух знаков после запятой.
    """
    return round((left / all) * 100, 2)

In [147]:
churn_with_kids = churn(canc_with_kids, all_with_kids)
churn_without_kids = churn(canc_without_kids, all_without_kids)
print(churn_with_kids, churn_without_kids)

34.92 37.22

На основе полученного результата делаем вывод, что отмен бронирования было больше у посетителей без детей